In [1]:
with open("weather_data.csv") as file:
    line = file.readlines()

In [2]:
line

['day,temp,condition\n',
 'Monday,12,Sunny\n',
 'Tuesday,14,Rain\n',
 'Wednesday,15,Rain\n',
 'Thursday,14,Cloudy\n',
 'Friday,21,Sunny\n',
 'Saturday,22,Sunny\n',
 'Sunday,24,Sunny']

In [3]:
import csv

In [4]:
temperature = []

In [5]:
with open("weather_data.csv") as file:
    data = csv.reader(file)
    for row in data:
        if row[1]!='temp':
            temperature.append(int(row[1]))

In [6]:
data

In [7]:
temperature

[12, 14, 15, 14, 21, 22, 24]

In [6]:
import pandas as pd

In [9]:
data = pd.read_csv("weather_data.csv")

In [10]:
temperature = data["temp"]

In [11]:
temperature

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [12]:
dict = data.to_dict()

In [13]:
dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [14]:
temperature_list = data["temp"].to_list()

In [15]:
temperature_list

[12, 14, 15, 14, 21, 22, 24]

In [17]:
avg = sum(temperature_list)/len(temperature_list)

In [18]:
avg

17.428571428571427

In [20]:
data["temp"].mean()

17.428571428571427

In [21]:
data["temp"].max()

24

In [31]:
data['temp'] = (data['temp'] *(9/5)) + 32

In [32]:
data

         day  temp condition
0     Monday  53.6     Sunny
1    Tuesday  57.2      Rain
2  Wednesday  59.0      Rain
3   Thursday  57.2    Cloudy
4     Friday  69.8     Sunny
5   Saturday  71.6     Sunny
6     Sunday  75.2     Sunny

In [7]:
squirrel_df = pd.read_csv("2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")

In [8]:
squirrel_df

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [9]:
squirrel_data = []

In [10]:
sum_gray = sum(squirrel_df["Primary Fur Color"] == "Gray")
sum_gray

2473

In [28]:
sum_red = sum(squirrel_df["Primary Fur Color"] == "Cinnamon")
sum_red

392

In [18]:
sum_black = sum(squirrel_df["Primary Fur Color"] == "Black")
sum_black

103

In [29]:
fur_colour = ["Gray","Red","Black"]
count = [sum_gray,sum_red,sum_black]
data_dict = {"fur":fur_colour, "count":count}

In [30]:
data_df = pd.DataFrame(data_dict)

In [31]:
data_df

     fur  count
0   Gray   2473
1    Red    392
2  Black    103

In [32]:
data_df.to_csv("fur-count.csv")