In [23]:
import random

In [16]:
number = [1,2,3,4,5,6,7,8,9,10]

In [7]:
new_array = [item*2 for item in number]

In [8]:
new_array

[2, 4, 6, 8, 10]

In [9]:
array = [n*2 for n in range(1,5)]
array

[2, 4, 6, 8]

In [10]:
names = [
    "Alice",
    "Bob",
    "Charlie",
    "David",
    "Eva",
    "Frank",
    "Grace",
    "Hank",
    "Ivy",
    "Jack",
    "Katie",
    "Leo",
    "Mia",
    "Nathan",
    "Olivia",
    "Paul",
    "Quinn",
    "Rachel",
    "Sam",
    "Tina"
]

print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack', 'Katie', 'Leo', 'Mia', 'Nathan', 'Olivia', 'Paul', 'Quinn', 'Rachel', 'Sam', 'Tina']

In [11]:
list_names = [name for name in names if len(name) == 4]

In [12]:
list_names

['Hank', 'Jack', 'Paul', 'Tina']

In [17]:
squared_list = [n*n for n in number]
squared_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
even_list = [n for n in number if n%2 == 0]
even_list

[2, 4, 6, 8, 10]

In [20]:
f1 = [3,6,5,8,33,12,7,4,72,2,42,13]
f2 = [3,6,13,5,7,89,12,3,33,34,1,344,42]

In [21]:
result = [f for f in f1 if f in f2]
print(result)

[3, 6, 5, 33, 12, 7, 42, 13]

In [24]:
new_dict = {name:random.randint(1,101) for name in names}

In [25]:
new_dict

{'Alice': 82,
 'Bob': 14,
 'Charlie': 23,
 'David': 82,
 'Eva': 99,
 'Frank': 8,
 'Grace': 38,
 'Hank': 89,
 'Ivy': 36,
 'Jack': 27,
 'Katie': 40,
 'Leo': 22,
 'Mia': 68,
 'Nathan': 23,
 'Olivia': 34,
 'Paul': 52,
 'Quinn': 97,
 'Rachel': 4,
 'Sam': 72,
 'Tina': 6}