In [2]:
myTuple = ("max",28,"hello")

In [3]:
myTuple[0]

'max'

In [4]:
type(myTuple)

tuple

In [7]:
myTuple_paren = {"max",28,"hello",}

In [8]:
type(myTuple_paren)

set

In [9]:
myTyple_string = ("max")

In [10]:
type(myTyple_string)

str

In [11]:
myTyple_string = ("max",)
type(myTyple_string)

tuple

In [14]:
iterable = ["duke",24,"ghosh","1999"]

In [15]:
myTuple = tuple(iterable)
type(myTuple)

tuple

In [16]:
myTuple

('duke', 24, 'ghosh', '1999')

In [17]:
myTuple[0]

'duke'

In [18]:
myTuple[0] = "rocky"

TypeError: 'tuple' object does not support item assignment

In [19]:
for i in myTuple:
    print(i)

duke
24
ghosh
1999

In [23]:
letter_tuple = tuple(["a","b","c","a","d","w","e","t","g","a","c"])

In [24]:
print(letter_tuple.count("a"))

3

In [25]:
print(letter_tuple.index("d"))

4

In [26]:
print(letter_tuple.index("a"))

0

In [27]:
letter_tuple[2:5]

('c', 'a', 'd')

In [28]:
name , age , surname , YOB = myTuple

In [29]:
name

'duke'

In [30]:
age

24

In [31]:
surname

'ghosh'

In [32]:
YOB

'1999'

In [33]:
import timeit

In [39]:
print(timeit.timeit(stmt="[1,2,3,4]", number = 10000000000))

372.7398854000494

In [40]:
print(timeit.timeit(stmt="(1,2,3,4)", number = 10000000000))

88.8493192999158