!pip install beautifulsoup4

!pip install lxml

!pip install xlsxwriter

In [1]:
import requests
from bs4 import BeautifulSoup
import json

In [2]:
url = "https://www.moneycontrol.com/stocks/marketinfo/marketcap/bse/index.html"
response = requests.get(url)
html = response.content

soup = BeautifulSoup(html, 'html.parser')

In [3]:
soup.title.text

'Top  Companies in India, Top  Stocks in India by Market Capitalisation, List of Top  Stocks in India {2023} - BSE'

In [4]:
soup.link

In [5]:
next_data_script = soup.find('script', id='__NEXT_DATA__', type='application/json')

if next_data_script:
    next_data_json = next_data_script.string
    data_dict = json.loads(next_data_json)

In [6]:
data_dict = data_dict['props']
data_dict = data_dict['pageProps']
data_dict = data_dict['data']
data_dict = data_dict['marketInfo']
data_dict = data_dict['body']
data = data_dict['dataList']

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(data, columns=['Company','link','Company Full Name', 'Last Price', '%Change','52 week high', '52 low high', 'Market Cap (Rs. cr)'])

In [9]:
df.drop('link', axis=1,inplace=True)
df.drop('Company', axis=1,inplace=True)
df

,Company Full Name,Last Price,%Change,52 week high,52 low high,Market Cap (Rs. cr)
0,Reliance,2583.00,0.21,2855.00,2180.00,1.747631e+06
1,TCS,3782.00,-0.33,3928.95,3070.30,1.383853e+06
2,HDFC Bank,1696.00,0.77,1757.80,1460.55,1.287609e+06
3,ICICI Bank,996.15,0.11,1042.65,796.10,6.987478e+05
4,Infosys,1554.00,0.62,1620.00,1215.45,6.449795e+05
...,...,...,...,...,...,...
95,SRF,2465.00,-1.03,2636.65,2050.00,7.306872e+04
96,SBI Card,765.50,-0.40,932.35,690.90,7.278047e+04
97,Tube Investment,3662.00,1.62,4046.90,2375.05,7.081299e+04
98,IDBI Bank,65.85,0.50,74.75,42.88,7.080457e+04
99,CG Power,458.25,-1.47,501.75,254.70,6.998777e+04

In [10]:
with pd.ExcelWriter('top_100_stock.xlsx', engine='xlsxwriter') as writer:
    df.to_excel(writer, sheet_name='Sheet1', index=False)